<style>
  .legal {
    color: #555;
  }

  .legal p {
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 24px;
  }

  .legal ol, .legal ul {
    -webkit-padding-start: 20px;
    font-size: 16px;
    margin-bottom: 24px;
  }

  .legal ol li, .legal ul li {
    list-style: disc;
    line-height: 32px;
  }

  .legal.container {
    max-width: 680px;
    margin: auto;
  }

  .legal h2, .legal h3, .legal h4 {
    color: #444;
    font-weight: bold;
    line-height: 48px;
  }

  .legal h2 {
    font-size: 22px;
  }

  .legal h3 {
    font-size: 20px;
  }

  .legal h4 {
    font-size: 18px;
  }
</style>
<div id="eula-iframe" class="legal">
  <h1>Sejda Desktop End-User License Agreement</h1>

  <p>Effective starting: March 30, 2020</p>

  <p>The software that is subject to this End User's Software License Agreement ("EULA", "Agreement") is the
    Sejda
    PDF Desktop software (the "Software").</p>
  <p>This EULA is a legally binding agreement between the end user (the
    "Licensee" or "you") and Sejda BV (the "Licensor") pursuant to which the Licensor licenses the use
    of
    the Software to the Licensee. If you are agreeing to this EULA not as an individual but on behalf of your
    company, then "Licensee" or "you" means your company, and you are binding your company to this EULA.</p>

  <p>Any installing, accessing, or using the Software by you (the "Licensee") constitutes Licensee's acceptance
    of,
    and promise to comply with, all of the terms and conditions of this EULA.</p>

  <p>The Software must be activated with a license key in order to operate after installation. The procedure to
    acquire a license key is described in section "Activation".</p>

  <h3>Privacy Policy</h3>

  <p>Sejda respects your privacy rights and recognizes the importance of protecting any information collected about
    you. Our privacy policy as amended from time to time is available at <a href="https://www.sejda.com/privacy">https://www.sejda.com/privacy</a>
    ("Privacy Policy") and is applicable to this EULA. Our Privacy Policy defines how, why and to which extent we
    collects and uses personal and non-personal information in relation to our products and services. By
    installing, accessing or using the the Software you explicitly agree with the terms and conditions of our
    Privacy Policy and to any terms and conditions included therein by reference.</p>

  <h3>General Terms of Use</h3>
  <p>Our general terms of use as amended from time to time are available at <a href="https://www.sejda.com/terms">https://www.sejda.com/terms</a>
    ("Terms of Use") and are applicable to this EULA. By
    installing, accessing or using the the Software you explicitly agree with our Terms of use to any terms and conditions included therein by reference.</p>

  <h3>Installation</h3>

  <p>The Licensee is solely responsible for installation and usage of the software. Licensee shall be solely responsible for
    all expenses incurred in Licensee's installation and use of the Software.</p>

  <h3>Activation</h3>

  <p>Use of the Software requires activation. The Software must be activated after installation. To complete
    activation you must acquire a license key from the Licensor. Upon receipt of payment of the applicable fees,
    a license key will be
    delivered as described in section "Delivery". If Licensee has any problem with the activation process,
    Licensee should
    contact the customer support at hi@sejda.com</p>


  <h3>Delivery</h3>

  <p>Licensor will deliver the applicable license key or login instructions through the Sejda.com website in the
    user account section (<a href="https://www.sejda.com/account">https://www.sejda.com/account</a>) or to the email address specified in the
    Licensee order, upon receipt of payment of the applicable fees. All deliveries under this EULA will be
    electronic. For the avoidance of doubt, you are responsible for installation of the Software, and you
    acknowledge that the Licensor has no further delivery obligation with respect to the Software after delivery
    of the license keys.</p>

  <h3>Transfer</h3>

  <p>Licensee may not sell, assign, or transfer the Software or the License granted by this EULA without prior
    written consent of the Licensor.</p>

  <h3>Prohibited Uses</h3>

  <p>It is expressly forbidden to</p>

  <ul>
    <li>Reverse engineer the source code of the Software or to decompile the Software, except to the extent
      permitted by mandatory law or applicable open source license;
    </li>
    <li>Redistribute the Software as part of a product, "appliance" or "virtual server";</li>
    <li>Share your license key(s) or use someone else's license key(s);</li>
    <li>Sublicense the Software or otherwise make available the Software to third parties, including by rental,
      Software-as-a-Service models or otherwise;
    </li>
    <li>Modify the Software, except to the extent permitted by mandatory law;</li>
    <li>Remove or obscure copyright or trademark notices, or the copyright and trademark notices of third
      parties that have been included in the Software;
    </li>
    <li>Use the Software in any manner that is illegal or not authorized by this EULA;</li>
  </ul>

  <h3>Concurrent Use</h3>
  <p>If you are agreeing to this EULA as an individual, if you purchased 1 license you may install and activate
    the Software on up to 2 compatible personal computers or workstations of which you are the primary user, only if you are the only one
    using the Software on these computers.</p>

  <p>If you are agreeing to this EULA not as an individual but on behalf of an entity, you may install and
    activate the Software on a number of personal computers or workstations up to the number of licenses
    you purchased; provided, however, that the maximum number of users accessing and using the Software
    is equal to the number of purchased licenses. For the avoidance of doubt, if you purchased
    5 licenses, you may install and activate the Software on 5 workstations, and it may only
    be used by 5 users in total.</p>

  <h3>Concurrent Use in a Virtualization Environment</h3>

  <p>If you are agreeing to this EULA not as an individual but on behalf of an entity, you may install a copy of
    the Software on an hardware partition, terminal server, or in any other virtualization environment
    (collectively "Virtualization Environment") within your internal network for the sole and exclusive purpose
    of permitting individual users within your organization to access and use the Software through the Virtualization
    Environment from another computer provided that the total number of users that access or use the Software
    at any given time does not exceed the number of purchased license keys.</p>

  <p>For the avoidance of doubt, if you purchased
    5 licenses, you may make the software available for use on a virtualization environment by 5 users in total.
    For the avoidance of doubt, in a cluster of 10 virtualization servers, hosting a total of 100 users,
    out of which just a total of 7 users will be using the Software, you would need to purchase 7 licenses.
    For the avoidance of doubt, if 7 users may ever access the Software, and there's at most 2 concurrent users
    using the Software at the same time, then you would need to purchase 7 licenses.
  </p>

  <h3>Intellectual Property Ownership</h3>
  <p>The Software and any authorized copies that Licensee makes are the intellectual property of, and are owned
    by,
    the Licensor, and by third parties whose intellectual property has been licensed by the Licensor. The
    structure, organization, and code of the Software are the valuable trade secrets and confidential
    information
    of the Licensor and such third parties. The Software is protected by law, including without limitation, the
    copyright laws of the Netherlands and other countries, and by international treaty provisions. Except as
    expressly provided in this EULA, Licensee is not granted any intellectual property rights in the Software.
    Licensee may not make or publish any public statement concerning the Software or the Licensor without the
    prior express written consent of the Licensor.</p>

  <h3>Third Party Components</h3>
  <p>The Software may use or include certain software, files, components and materials that are subject to open
    source and/or third party license terms. These Third Party Components are licensed to you under the terms of
    their applicable open source license conditions and/or copyright notices that can be found in their license
    file, the Software or its documentation. If there is a conflict between the licensing terms of such Third
    Party Components and this EULA, the licensing terms of the Third Party Components shall prevail in
    connection
    with the related Third Party Components. Such Third Party Components are provided on an "AS IS" basis
    without
    any warranty of any kind and shall be subject to any and all limitations and conditions required by its
    third
    party licensors. Under no circumstances shall the Software or any portion thereof (except for the Third
    Party
    Components) be deemed to be "open source" or "publicly available" software.</p>

  <h3>Internet Access</h3>
  <p>The Software may require an internet connection to access services, authenticate the Software, or perform
    other functions. In order for certain features of the Software to operate properly, you may be required to
    have and maintain an adequate internet connection.</p>

  <ol>
    <li>Announcements and News. The Software communicates with the Licensor servers to determine whether there are
      any new notices to be displayed, for example about a new version being available. This feature may not be
      disabled. If you do not want to receive new notices, you must uninstall the Software.
    </li>

    <li>License Key Authorized Usage Data. The Software communicates with the Licensor
      servers to verify the Software is used with a valid purchased license key and
      not used in an unauthorized way. Details about your computer (including but not limited to your hostname and currently logged in username) will be sent to the
      Licensor servers in this process. If you do not want the Software to send this information, you must
      uninstall the Software.</li>

    <li>Optional Language Packs for OCR. The Software communicates with the Licensor servers to download language data files for the OCR tool. This feature may not be
      disabled. If you do not want to download additional language data files, do not use the OCR tool.
    </li>
  </ol>

  <h3>Error Reports</h3>
  <p>In order to help us improve the Software, when the Software encounters certain errors, it will automatically send
    some information to the Licensor servers about the error. This feature can be opted out from the Software settings and you can choose not to
    send the information. You agree to send to the Licensor servers (1) Error information about the task that failed such as settings used, edits performed, log output, file names used;
    (2) Operating system information such as RAM allocation, hostname, currently logged in username; and
    (3) Product information such as the name and version of the Software.</p>

  <h3>Software Updates</h3>
  <p>The Licensor from time to time releases updates that address bugs or improve the functioning of the Software
    but he is not obliged to.</p>

  <p>Newer versions of the the Software will require purchasing a new license. The Licensor might make small
    updates or patches to older versions available for free, but he is not obliged to.</p>

  <p>The Software will alert you to any available updates. This requires an active internet connection.
    Installation of updates is performed only with your separate consent.</p>

  <h3>Data Responsibility</h3>
  <p>We do our best to ensure the Software runs without errors.
    Still, we can't guarantee that your files will not be damaged or lost.</p>
  <p class="highlight">You acknowledge that Licensor will not be responsible for any failures caused by files processed with the Software.</p>
  <p class="highlight">You acknowledge that Licensee is also responsible for validating the correctness of files (both input and output) processed with the Software.</p>

  <h3>Support</h3>
  <p>The Licensor shall provide the Licensee with a reasonable level of support through its website and/or
    e-mail.
    The Licensor however does not guarantee that all requests for support or bug reports are taken into
    consideration.</p>

  <h3>Termination</h3>
  <p>This Agreement remains in force until terminated.</p>

  <p>If Licensee breaches this EULA, and fails to cure any breach within 14 calendar days after request from the
    Licensor, or the Licensor authorized representative, the Licensor may terminate this EULA, whereupon all
    rights granted to Licensee shall immediately cease.</p>

  <p>The Agreement may be terminated by the Licensee at any time by providing 14 calendar days notice. This
    Agreement terminates automatically and immediately in case you enter into bankruptcy, apply for a suspension
    of payments, your assets are seized, you pass away, or in case you enter into liquidation, legal dissolution
    or winding-up.</p>

  <p>This Agreement terminates immediately if Licensee attempts to circumvent technical protection measures used
    in
    connection with the Software.</p>

  <p>After termination of the agreement (regardless of reason) you must cease all use of the Software. In
    addition
    you must remove all copies (including backup copies) of the Software from all computer systems under your
    control.</p>

  <h3>Warranty and Limitation of Liability</h3>
  <p>The Software is provided to Licensee "AS IS." The Licensor, and the Licensor suppliers or affiliates, make
    no
    warranty as to its use or performance. The Licensor, AND the Licensor AFFILIATES, MAKE NO WARRANTIES,
    CONDITIONS, REPRESENTATIONS, OR TERMS (EXPRESS OR IMPLIED WHETHER BY STATUTE, COMMON LAW, CUSTOM, USAGE, OR
    OTHERWISE) AS TO ANY MATTER INCLUDING WITHOUT LIMITATION NON-INFRINGEMENT OF THIRD PARTY RIGHTS,
    MERCHANTABILITY, INTEGRATION, SATISFACTORY QUALITY, OR FITNESS FOR ANY PARTICULAR PURPOSE, EXCEPT FOR, AND
    TO
    THE EXTENT, THAT A WARRANTY MAY NOT BE EXCLUDED OR LIMITED BY APPLICABLE LAW IN LICENSEE'S JURISDICTION.

    IN NO EVENT WILL the Licensor, OR the Licensor AFFILIATES, BE LIABLE TO LICENSEE FOR ANY DAMAGES, CLAIMS, OR
    COSTS WHATSOEVER, OR FOR ANY CONSEQUENTIAL, INDIRECT, INCIDENTAL DAMAGES, OR ANY LOST PROFITS OR LOST
    SAVINGS,
    EVEN IF A REPRESENTATIVE OF the Licensor OR ONE OF the Licensor AFFILIATES HAS BEEN ADVISED OF THE
    POSSIBILITY
    OF SUCH LOSS, DAMAGES, CLAIMS, OR COSTS, OR FOR ANY CLAIM BY ANY THIRD PARTY. THESE LIMITATIONS AND
    EXCLUSIONS
    APPLY TO THE EXTENT PERMITTED BY APPLICABLE LAW IN LICENSEE'S JURISDICTION. THE AGGREGATE LIABILITY OF The
    Licensor, AND the Licensor AFFILIATES, UNDER OR IN CONNECTION WITH THIS EULA, SHALL BE LIMITED TO THE AMOUNT
    PAID FOR THE Software, IF ANY.</p>

  <h3>Survival of Disclaimers</h3>
  <p>The exclusions of warranties, indemnification obligations and liability limitations shall survive the
    termination of this EULA, however caused; but this survival shall not imply or create any continued right to
    use the Software after termination of this EULA.</p>

  <h3>Governing Law</h3>
  <p>This Agreement will be governed by and construed in accordance with the applicable laws of the Netherlands.
    If you have a complaint, please let us know and we'll respond quickly.
    Disputes will be submitted to the competent court in Amsterdam, Netherlands.</p>

  <h3>Licensor Address</h3>
  <p>Sejda BV is a private company (besloten vennootschap) having its principal place of business at Kanteel 91 1083DC, Amsterdam, Netherlands.
    KvK-nummer: 68286945 BTW-identificatienummer: NL857376202B01</p>

  <h3>Severability</h3>
  <p>If any provision of this EULA is determined by a court of competent jurisdiction to be contrary to law that
    provision will be enforced to the maximum extent permissible and the remaining provisions of this EULA will
    remain in full force and effect.</p>

  <h3>Proof of Compliance</h3>
  <p>Within 14 calendar days after request from the Licensor, or the Licensor authorized representative, Licensee
    will provide full documentation, and certify under penalty of perjury, that Licensee's use of any and all
    Software is in conformity with this EULA.</p>

  <h3>Miscellanea</h3>
  <p>The Licensor reserves all rights not expressly granted to Licensee by this EULA. The rights granted to
    Licensee are limited to the Licensor intellectual property rights, and to the intellectual property rights
    of
    third parties licensed by the Licensor, and do not include any intellectual property rights.</p>

  <p>This EULA constitutes the entire agreement between the Licensee and the Licensor relating to the Software,
    and it supersedes all prior or contemporaneous representations, discussions, undertakings, communications,
    agreements, arrangements, advertisements, and understandings regulating to the Software (including, but not limited to, any prior versions of the EULA).</p>

  <p>No failure or delay by the Licensor in exercising its rights or remedies shall operate as a waiver unless
    made
    by specific written notice. No single or partial exercise of any right or remedy of the Licensor shall
    operate
    as a waiver or preclude any other, or further, exercise of that, or any other right, or remedy.</p>
  <p>Should you have any questions concerning this EULA, please contact the Licensor at hi@sejda.com</p>
</div>
