<section>
  <div id="shakyWave" class="container-fluid centered" style="margin-bottom: -15px; margin-top: 30px;">
    <div class="container-fluid centered">
      <svg style="background-color:#FCF6F0" viewBox="0 0 1440 135">
        <path fill="#FFF" fill-opacity="1" d="M0,16L17.1,18.5C34.3,21,69,29,103,28.7C137.1,29,171,20,206,24C240,28,274,44,309,60C342.9,76,377,92,411,84C445.7,76,480,44,514,30C548.6,16,583,20,617,32.2C651.4,44,686,64,720,72C754.3,80,789,76,823,70.3C857.1,64,891,56,926,48C960,40,994,32,1029,42C1062.9,52,1097,80,1131,75.8C1165.7,72,1200,36,1234,22C1268.6,8,1303,16,1337,20.3C1371.4,24,1406,24,1423,24L1440,24L1440,0L1422.9,0C1405.7,0,1371,0,1337,0C1302.9,0,1269,0,1234,0C1200,0,1166,0,1131,0C1097.1,0,1063,0,1029,0C994.3,0,960,0,926,0C891.4,0,857,0,823,0C788.6,0,754,0,720,0C685.7,0,651,0,617,0C582.9,0,549,0,514,0C480,0,446,0,411,0C377.1,0,343,0,309,0C274.3,0,240,0,206,0C171.4,0,137,0,103,0C68.6,0,34,0,17,0L0,0Z"></path>
        <path fill="#f3e5d8" fill-opacity="1" d="M0,25L17.1,32.7C34.3,40.5,69,54,103,52.7C137.1,51.5,171,35,206,42.5C240,50,274,80,309,102C342.9,124,377,135,411,126C445.7,117,480,70,514,50C548.6,30,583,37.5,617,66.3C651.4,95,686,120,720,130C754.3,140,789,130,823,114.7C857.1,99.5,891,79,926,66C960,53,994,39,1029,54C1062.9,69,1097,125,1131,117.2C1165.7,109.5,1200,40,1234,26.3C1268.6,12.5,1303,27.5,1337,37.3C1371.4,47,1406,47,1423,47L1440,47L1440,135L0,135Z"></path>
      </svg>

    </div>
  </div>
  <div class="container-fluid centered new-homepage-tasks">
    <div class="row">
      <div class="col-xs-12">
        <ul class="horizontal">
          <li class="header popular">
            <lift:locS>Most popular</lift:locS>
          </li>
          <li>
            <a href="pdf-editor.ejs" class="c1d popular edit violet">
              <span class="fa-stack fa-lg icon-popular fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-pencil fa-stack-1x"></i>
              </span>
              <lift:locS>PDF Editor</lift:locS>
              <div class="description"><lift:locS>Edit PDF files for free. Fill & sign PDF. Add text, links, images and shapes. Edit existing PDF text. Annotate PDF</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="compress-pdf.ejs" class="c2d popular compress">
              <span class="fa-stack fa-lg icon-popular fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-compress fa-stack-1x"></i>
              </span>
              <lift:locS>Compress</lift:locS>
              <div class="description"><lift:locS>Reduce the size of your PDF</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="delete-pdf-pages.ejs" class="c3d popular edit violet">
              <span class="fa-stack fa-lg icon-popular fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-trash fa-stack-1x"></i>
              </span>
              <lift:locS>Delete Pages</lift:locS>
              <div class="description"><lift:locS>Remove pages from a PDF document</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="merge-pdf.ejs" class="c3b popular merge">
              <span class="fa-stack fa-lg icon-popular fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-sitemap fa-stack-1x"></i>
              </span>
              <lift:locS>Merge</lift:locS>
              <div class="description"><lift:locS>Combine multiple PDFs and images into one</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="split-pdf.ejs" class="c2a popular split violet">
              <span class="fa-stack fa-lg icon-popular fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-clone fa-stack-1x"></i>
              </span>
              <lift:locS>Split</lift:locS>
              <div class="description"><lift:locS>Split specific page ranges or extract every page into a separate document</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="crop-pdf.ejs" class="c3d t-other">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-crop fa-stack-1x"></i>
              </span>
              <lift:locS>Crop</lift:locS>
              <div class="description"><lift:locS>Trim PDF margins, change PDF page size</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="sign-pdf.ejs" class="c1d edit violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-signature fa-stack-1x"></i>
              </span>
              <lift:locS>Fill & Sign</lift:locS>
              <div class="description"><lift:locS>Add signature to PDF. Fill out PDF forms</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="extract-pdf-pages.ejs" class="c1a split popular">
              <span class="fa-stack fa-lg icon-popular fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-external-link fa-stack-1x"></i>
              </span>
              <lift:locS>Extract Pages</lift:locS>
              <div class="description"><lift:locS>Get a new document containing only the desired pages</lift:locS></div>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="horizontal">
          <li class="header merge">
            <lift:locS>Merge</lift:locS>
          </li>
          <li>
            <a href="alternate-mix-pdf.ejs" class="c1b merge">
              <span class="fa-stack fa-lg icon-merge fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-random fa-stack-1x"></i>
              </span>
              <lift:locS>Alternate &amp; Mix</lift:locS>
              <div class="description"><lift:locS>Mixes pages from 2 or more documents, alternating between them</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="merge-pdf.ejs" class="c3b merge violet">
              <span class="fa-stack fa-lg icon-merge fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-sitemap fa-stack-1x"></i>
              </span>
              <lift:locS>Merge</lift:locS>
              <div class="description"><lift:locS>Combine multiple PDFs and images into one</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="organize-pdf.ejs" class="c2b merge">
              <span class="fa-stack fa-lg icon-merge fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-object-group fa-stack-1x"></i>
              </span>
              <lift:locS>Organize</lift:locS>
              <div class="description"><lift:locS>Arrange and reorder PDF pages</lift:locS></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="horizontal">
          <li class="header split">
            <lift:locS>Split</lift:locS>
          </li>
          <li>
            <a href="extract-pdf-pages.ejs" class="c1a split violet">
              <span class="fa-stack fa-lg icon-split fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-external-link fa-stack-1x"></i>
              </span>
              <lift:locS>Extract Pages</lift:locS>
              <div class="description"><lift:locS>Get a new document containing only the desired pages</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="split-pdf.ejs" class="c2a split">
              <span class="fa-stack fa-lg icon-split fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-clone fa-stack-1x"></i>
              </span>
              <lift:locS>Split by pages</lift:locS>
              <div class="description"><lift:locS>Split specific page ranges or extract every page into a separate document</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="split-pdf-by-outline.ejs" class="c3a split violet">
              <span class="fa-stack fa-lg icon-split fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-bookmark fa-stack-1x"></i>
              </span>
              <lift:locS>Split by bookmarks</lift:locS>
              <div class="description"><lift:locS>Extract chapters to separate documents based on the bookmarks in the table of contents</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="split-pdf-down-the-middle.ejs" class="c4a split">
              <span class="fa-stack fa-lg icon-split fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-columns fa-stack-1x"></i>
              </span>
              <lift:locS>Split in half</lift:locS>
              <div class="description"><lift:locS>Split two page layout scans, A3 to double A4 or A4 to double A5</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="split-pdf-by-size.ejs" class="c5a split violet">
              <span class="fa-stack fa-lg icon-split fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-chart-pie fa-stack-1x"></i>
              </span>
              <lift:locS>Split by size</lift:locS>
              <div class="description"><lift:locS>Get multiple smaller documents with specific file sizes</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="split-pdf-by-text.ejs" class="c6a split">
              <span class="fa-stack fa-lg icon-split fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-font fa-stack-1x"></i>
              </span>
              <lift:locS>Split by text</lift:locS>
              <div class="description"><lift:locS>Extract separate documents when specific text changes from page to page</lift:locS></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="horizontal">
          <li class="header edit">
            <lift:locS>Edit &amp; Sign</lift:locS>
          </li>
          <li>
            <a href="pdf-editor.ejs" class="c1d edit">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-pencil fa-stack-1x"></i>
              </span>
              <lift:locS>PDF Editor</lift:locS>
              <div class="description"><lift:locS>Edit PDF files for free. Fill & sign PDF. Add text, links, images and shapes. Edit existing PDF text. Annotate PDF</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="sign-pdf.ejs" class="c1d edit violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-signature fa-stack-1x"></i>
              </span>
              <lift:locS>Fill & Sign</lift:locS>
              <div class="description"><lift:locS>Add signature to PDF. Fill out PDF forms</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="pdf-forms.ejs" class="c1d edit">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-wpforms fa-stack-1x"></i>
              </span>
              <lift:locS>Create Forms</lift:locS>
              <div class="description"><lift:locS>Free PDF forms creator. Make existing PDF documents fillable</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="delete-pdf-pages.ejs" class="c3d edit violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-trash fa-stack-1x"></i>
              </span>
              <lift:locS>Delete Pages</lift:locS>
              <div class="description"><lift:locS>Remove pages from a PDF document</lift:locS></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="horizontal">
          <li class="header t-scans">
            <lift:locS>Compress</lift:locS> &amp; <lift:locS>Scans</lift:locS>
          </li>
          <li>
            <a href="compress-pdf.ejs" class="c2d t-scans">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-compress fa-stack-1x"></i>
              </span>
              <lift:locS>Compress</lift:locS>
              <div class="description"><lift:locS>Reduce the size of your PDF</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="deskew-pdf.ejs" class="c3d t-scans">
              <span class="fa-stack fa-lg icon-popular fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-file-alt fa-stack-1x rotated-5-deg"></i>
              </span>
              <lift:locS>Deskew</lift:locS>
              <div class="description"><lift:locS>Automatically straighten and deskew scanned PDF pages</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="ocr-pdf.ejs" class="c10d t-scans">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-qrcode fa-stack-1x"></i>
              </span>
              <lift:locS>OCR</lift:locS>
              <div class="description"><lift:locS>Convert PDF scans to searchable text and PDFs. Extract text from scans</lift:locS></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="horizontal">
          <li class="header t-security">
            <lift:locS>Security</lift:locS>
          </li>
          <li>
            <a href="encrypt-pdf.ejs" class="c8d t-security violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-lock fa-stack-1x"></i>
              </span>
              <lift:locS>Protect</lift:locS>
              <div class="description"><lift:locS>Protect file with password and permissions</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="unlock-pdf.ejs" class="c9d t-security">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-unlock fa-stack-1x"></i>
              </span>
              <lift:locS>Unlock</lift:locS>
              <div class="description"><lift:locS>Remove restrictions and password from PDF files</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="watermark-pdf.ejs" class="c4d t-security violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-file-alt fa-stack-1x"></i>
              </span>
              <lift:locS>Watermark</lift:locS>
              <div class="description"><lift:locS>Add image or text watermark to PDF documents</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="flatten-pdf.ejs" class="c4d t-security">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-font fa-stack-1x"></i>
                <i class="fal fa-slash fa-stack-1x"></i>
              </span>
              <lift:locS>Flatten</lift:locS>
              <div class="description"><lift:locS>Makes fillable PDFs read-only. Print & scan in one step</lift:locS></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="horizontal">
          <li class="header convert-from">
            <lift:locS>Convert from PDF</lift:locS>
          </li>
          <li>
            <a href="pdf-to-excel.ejs" class="c1c convert-from violet">
              <span class="fa-stack fa-lg icon-office fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-file-excel fa-stack-1x"></i>
              </span>
              <lift:locS>PDF to Excel</lift:locS>
              <div class="description"><lift:locS>Convert PDF to Excel or CSV. Extract table data from PDF</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="pdf-to-jpg.ejs" class="c4d convert-from">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-file-image fa-stack-1x"></i>
              </span>
              <lift:locS>PDF to JPG</lift:locS>
              <div class="description"><lift:locS>Get PDF pages converted to JPG, PNG or TIFF images</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="extract-text-from-pdf.ejs" class="c10d convert-from">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-align-left fa-stack-1x"></i>
              </span>
              <lift:locS>PDF to Text</lift:locS>
              <div class="description"><lift:locS>Copies all text from the PDF document and extracts it to a separate text file</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="pdf-to-word.ejs" class="c1c convert-from violet">
              <span class="fa-stack fa-lg icon-office fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-file-word fa-stack-1x"></i>
              </span>
              <lift:locS>PDF to Word</lift:locS>
              <div class="description"><lift:locS>Convert from PDF to DOC</lift:locS></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="horizontal">
          <li class="header t-convert-to">
            <lift:locS>Convert to PDF</lift:locS>
          </li>
          <li>
            <a href="jpg-to-pdf.ejs" class="c4d t-convert-to violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-image fa-stack-1x"></i>
              </span>
              <lift:locS>JPG to PDF</lift:locS>
              <div class="description"><lift:locS>Convert Images to PDF</lift:locS></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="horizontal">
          <li class="header t-other">
            <lift:locS>Others</lift:locS>
          </li>
          <li>
            <a href="bates-numbering-pdf.ejs" class="c7d t-other">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-gavel fa-stack-1x"></i>
              </span>
              <lift:locS>Bates Numbering</lift:locS>
              <div class="description"><lift:locS>Bates stamp multiple files at once</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="pdf-bookmarks.ejs" class="c7d t-other violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-bookmark fa-stack-1x"></i>
              </span>
              <lift:locS>Create Bookmarks</lift:locS>
              <div class="description"><lift:locS>Create PDF Bookmarks</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="crop-pdf.ejs" class="c3d t-other">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-crop fa-stack-1x"></i>
              </span>
              <lift:locS>Crop</lift:locS>
              <div class="description"><lift:locS>Trim PDF margins, change PDF page size</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="edit-pdf-metadata.ejs" class="c6d t-other violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-info-square fa-stack-1x"></i>
              </span>
              <lift:locS>Edit Metadata</lift:locS>
              <div class="description"><lift:locS>Change PDF Author, Title, Keywords, Subject and other metadata fields</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="extract-images-from-pdf.ejs" class="c1a t-other">
              <span class="fa-stack fa-lg icon-popular fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-external-link fa-stack-1x"></i>
              </span>
              <lift:locS>Extract Images</lift:locS>
              <div class="description"><lift:locS>Extract images from PDF</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="grayscale-pdf.ejs" class="c10d t-other violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-paint-brush fa-stack-1x"></i>
              </span>
              <lift:locS>Grayscale</lift:locS>
              <div class="description"><lift:locS>Make a PDF text and images grayscale</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="header-footer-pdf.ejs" class="c6d t-other">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-heading fa-stack-1x"></i>
              </span>
              <lift:locS>Header &amp; Footer</lift:locS>
              <div class="description"><lift:locS>Apply page numbers or text labels to PDF files</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="n-up-pdf.ejs" class="c10d t-other violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-th-large fa-stack-1x"></i>
              </span>
              <lift:locS>N-up</lift:locS>
              <div class="description"><lift:locS>Print multiple pages per sheet per paper. A5 plan as 4-up on A3 or A4 2-up on A3</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="page-numbers-pdf.ejs" class="c10d t-other violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-sort-numeric-up fa-stack-1x"></i>
              </span>
              <lift:locS>Page Numbers</lift:locS>
              <div class="description"><lift:locS>Add PDF page numbers</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="rename-pdf.ejs" class="c2d t-other">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-i-cursor fa-stack-1x"></i>
              </span>
              <lift:locS>Rename</lift:locS>
              <div class="description"><lift:locS>Change document filename based on text from the PDF pages</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="repair-pdf.ejs" class="c2d t-other violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-wrench fa-stack-1x"></i>
              </span>
              <lift:locS>Repair</lift:locS>
              <div class="description"><lift:locS>Recover data from a corrupted or damaged PDF document</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="resize-pdf.ejs" class="c10d t-other">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-arrows-alt fa-stack-1x"></i>
              </span>
              <lift:locS>Resize</lift:locS>
              <div class="description"><lift:locS>Add page margins and padding, Change PDF page size</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="rotate-pdf-pages.ejs" class="c1d t-other violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-repeat fa-stack-1x"></i>
              </span>
              <lift:locS>Rotate</lift:locS>
              <div class="description"><lift:locS>Rotate and save PDF pages permanently</lift:locS></div>
            </a>
          </li>
          <li>
            <a href="delete-pdf-annotations.ejs" class="c1d t-other violet">
              <span class="fa-stack fa-lg icon-edit fa-fw">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fal fa-highlighter fa-stack-1x"></i>
              </span>
              <lift:locS>Remove annotations</lift:locS>
              <div class="description"><lift:locS>Batch remove highlights, strikeouts or any other annotations from a PDF document</lift:locS></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <svg viewBox="0 0 1200 46" class="col-12 text-white absolute bottom-0" style="height: auto; margin-bottom: -10px;">
      <path fill="#FFF" fill-rule="evenodd"
            d="M0-7h1200v53H0V-7zm0 30.113V-7h1200v43.495c-37.762 7.58-155.36 7.58-352.791 0C721.412 31.665 480.68.297 248.535.355 197.087.368 114.242 7.955 0 23.113z"></path>
    </svg>
  </div>
</section>
