<section>
    <div id="unsupportedMacOSXVersion" class="alert alert-warning unsupported-os-warning" style="display: none">
        Your Mac OS is too old for this version of Sejda Desktop (macOS 10.13 or older required).<br/>
        Please download an <a href="https://www.sejda.com/desktop?download=true&reason=legacy-mac-os">older compatible version of Sejda Desktop</a>.
    </div>
</section>
