<div>
    <div class="color-swatch-col">
        <a href="javascript://" class="color-swatch" style="background-color: #01579B"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #0277BD"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #0288D1"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #039BE5"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #03A9F4"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #29B6F6"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #4FC3F7"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #81D4FA"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #B3E5FC"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #E1F5FE"></a>
    </div>
    <div class="color-swatch-col">
        <a href="javascript://" class="color-swatch" style="background-color: #1B5E20"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #2E7D32"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #388E3C"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #43A047"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #4CAF50"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #66BB6A"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #81C784"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #A5D6A7"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #C8E6C9"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #E8F5E9"></a>
    </div>
    <div class="color-swatch-col">
        <a href="javascript://" class="color-swatch" style="background-color: #F57F17"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #F9A825"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FBC02D"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FDD835"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFEB3B"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFEE58"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFF176"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFF59D"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFF9C4"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFFDE7"></a>
    </div>
    <div class="color-swatch-col">
        <a href="javascript://" class="color-swatch" style="background-color: #B71C1C"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #C62828"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #D32F2F"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #E53935"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #F44336"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #EF5350"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #E57373"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #EF9A9A"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFCDD2"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFEBEE"></a>
    </div>
    <div class="color-swatch-col">
        <a href="javascript://" class="color-swatch" style="background-color: #4A148C"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #6A1B9A"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #7B1FA2"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #8E24AA"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #9C27B0"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #AB47BC"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #BA68C8"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #CE93D8"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #E1BEE7"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #F3E5F5"></a>
    </div>
    <div class="color-swatch-col">
        <a href="javascript://" class="color-swatch" style="background-color: #3E2723"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #4E342E"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #5D4037"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #6D4C41"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #795548"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #8D6E63"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #A1887F"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #BCAAA4"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #D7CCC8"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #EFEBE9"></a>
    </div>
    <div class="color-swatch-col">
        <a href="javascript://" class="color-swatch" style="background-color: #212121"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #424242"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #616161"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #757575"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #9E9E9E"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #BDBDBD"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #E0E0E0"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #EEEEEE"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFFFFF; border-color: #CCC;"></a>
        <a href="javascript://" class="color-swatch" style="background-color: transparent; border-color: #CCC; position: relative;"><div class="diagonal-red-line"></div></a>
    </div>
    <div class="color-swatch-footer">
        <a href="javascript://" class="color-type-hex" title="Choose a color by hex code"><i class="fal fa-code"></i></a>
        <a href="javascript://" class="color-picker" title="Select a color from the document"><i class="fal fa-crosshairs"></i></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFF;border-color: #CCC;"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFF;border-color: #CCC;"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFF;border-color: #CCC;"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFF;border-color: #CCC;"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFF;border-color: #CCC;"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFF;border-color: #CCC;"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFF;border-color: #CCC;"></a>
        <a href="javascript://" class="color-swatch" style="background-color: #FFF;border-color: #CCC;"></a>
    </div>
</div>